<!DOCTYPE html>
<html lang="hy">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
</head>

<div
  style="box-sizing: border-box; font-family: Arial, sans-serif; font-size: 10px; line-height: 1.4; color: black; border: 1px solid black; border-radius: 10px; margin-bottom: 0px;">

  <div
    style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px;">
    <div>
      <p>{{t.operatingPeriod}}</p>
    </div>
    <div>
      <span>{{checkInTime}}</span>
      <span>{{checkoutTime}}</span>
    </div>
  </div>

  <div
    style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
    <p>{{t.checkInTime}}</p>
    <span>{{checkInTime}}</span>
  </div>
  <div
    style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
    <p>{{t.checkOutTime}}</p>
    <span>{{checkoutTime}}</span>
  </div>

  {{#if rooms}}
  <div style="margin-top: 25px; page-break-inside: avoid;">
    <table style="width: 100%; border-collapse: collapse; font-size: 10px;">
      <thead>
        <tr>
          <th style="padding: 10px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">{{t.rooms}}</th>
          <th
            style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
            {{t.area}}</th>
          <th
            style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
            {{t.quantity}}</th>
          <th
            style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
            {{t.main}}</th>
          <th
            style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
            {{t.additional}}</th>
          <th
            style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
            {{t.cradle}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each rooms}}
        <tr>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{roomClass}},{{roomView}}</td>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{area}} մ²</td>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{roomNumberQuantity}}</td>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{mainGuestQuantity}}</td>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{additionalGuestQuantity}}</td>
          <td style="padding: 8px; border: 1px solid #e5e7eb;">{{#if hasCradle}}{{../t.yes}}{{else}}{{../t.no}}{{/if}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3;padding: 0px 10px ">
      <p>{{t.totalRooms}}</p>
      <span>{{totalRooms}}</span>
    </div>
  </div>
  <div
    style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3;padding: 0px 10px ">
    <p>{{t.totalGuestsWithMainBeds}}</p>
    <span>{{totalGuestsWithMainBeds}}</span>
  </div>
  {{/if}}


  {{#if generalFoodPrices}}
  <table style="width: 100%; border-collapse: collapse; font-size: 10px; margin-top: 10px;">
    <thead>
      <tr>
        <th
          style="font-weight: 700; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
          {{t.food}}</th>
        <th
          style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
          {{t.servingMethod}}</th>
        <th
          style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
          {{t.type}}</th>
        <th
          style="font-weight: 400; padding: 8px; text-align: left; font-size: 10px; border-bottom: 1px solid #e5e7eb;">
          {{t.hours}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each generalFoodPrices}}
      <tr>
        <td style="padding: 8px; border: 1px solid #e5e7eb;">{{foodType}}</td>
        <td style="padding: 8px; border: 1px solid #e5e7eb;">{{offerTypes}}</td>
        <td style="padding: 8px; border: 1px solid #e5e7eb;">{{cuisines}}</td>
        <td style="padding: 8px; border: 1px solid #e5e7eb;">{{times}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}

</div>
<div style="font-family: Arial, sans-serif; font-size: 10px; line-height: 1.4; margin-top: 0px;">
  {{#if rooms}}
  {{#each rooms}}
  <div style="border: 1px solid black; border-radius: 10px; margin-top: 20px;">

    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px; font-size: 14px; font-weight: 700;  ">
      <p>{{roomClass}}{{#if roomView}}, {{roomView}}{{/if}}</p>
    </div>

    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
      <p>{{../t.roomCount}}</p>
      <span>{{roomNumberQuantity}}</span>
    </div>
    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
      <p>{{../t.roomArea}}</p>
      <span>{{area}}</span>
    </div>

    {{#if beds}}
    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
      <p style="font-weight: 600; font-size: 11px;">{{../t.description}}</p>
    </div>
    {{#each beds}}
    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
      <p>{{partName}}</p>
      <span>
        {{#each bedDetails}}
        {{quantity}}x {{bedType}} ({{bedSize}})
        {{/each}}
      </span>
    </div>
    {{/each}}
    {{/if}}


    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px; margin-top: 10px; ">
      <h3 style="font-size: 11px; font-weight: 700;">{{../t.roomPricePerNight}}</h3>
      <p>AMD</p>

    </div>

    {{#if roomPrices}}
    {{#each roomPrices}}
    <div
      style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
      <p>{{guestCount}} {{../../t.forPerson}}</p>
      <span>{{price}}</span>
    </div>
    {{/each}}
    {{/if}}

 {{#if foodPrices}}
    <div class="section">
      <h4 style="font-size: 12px; margin-bottom: 10px; padding: 0px 10px;">{{../t.foodPriceNotIncluded}}</h4>
      <table style="width: 100%; border-collapse: collapse; font-size: 10px;">
        <thead>
          <tr>
            <th style="padding: 8px; text-align: left; border: 1px solid #e5e7eb;">{{../t.foodTypes}}</th>
            {{#each ageAssignments}}
            <th style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">{{fromAge}}-{{toAge}} {{../../t.yearsOld}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          {{#each foodPrices}}
          <tr>
            <td style="padding: 8px; border: 1px solid #e5e7eb;">{{foodType}}</td>
            {{#each prices}}
            <td style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">{{this}}</td>
            {{/each}}
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/if}}

    {{#if ageAssignmentPrices}}
    <div class="section">
      <h4 style="font-size: 12px; margin-bottom: 10px; padding: 0px 10px;">{{../t.nightPriceForChildrenAndExtraBed}}</h4>
      <table style="width: 100%; border-collapse: collapse; font-size: 10px;">
        <thead>
          <tr>
            {{#each ageAssignmentPrices}}
            <th style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">{{ageRange}} {{../../t.yearsOld}}</th>
            {{/each}}
          </tr>
        </thead>
        <tbody>
          <tr>
            {{#each ageAssignmentPrices}}
            <td style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">{{price}}</td>
            {{/each}}
          </tr>
        </tbody>
      </table>
    </div>
    {{/if}}
   

    {{#if additionalServices}}
    <div class="section">
      <h4 style="font-size: 12px; margin-bottom: 10px; padding: 0px 10px;">{{../t.otherServices}}</h4>
      <table style="width: 100%; border-collapse: collapse; font-size: 10px;">
        <thead>
          <tr>
            <th style="padding: 8px; text-align: left; border: 1px solid #e5e7eb;">Տեսակը</th>
            <th style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">Արժեքը</th>
          </tr>
        </thead>
        <tbody>
          {{#each additionalServices}}
          <tr>
            <td style="padding: 8px; border: 1px solid #e5e7eb;">{{serviceType}}</td>
            <td style="padding: 8px; text-align: center; border: 1px solid #e5e7eb;">
              {{#if price}}
              {{price}}
              {{else}}
              {{../../t.unconfirmedPrice}}
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
    {{/if}}
  </div>
  {{/each}}
  {{/if}}


  <div style="border: 1px solid black; border-radius: 10px; margin-top: 20px;">
    {{#if generalServices}}
    <div>
      <h4 style="font-size: 14px; margin-bottom: 10px; padding: 0px 10px;">{{t.services}}</h4>
      <div
        style="font-size: 11px; font-weight: 700; display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px">
        <p>{{t.servicesIncludedInPrice}}</p>
      </div>

      {{#if servicesHierarchy}}
      {{#each servicesHierarchy}}
      <div
        style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px; ">
        <p style="font-weight: 700;">{{groupName}}</p>
      </div>
      {{#each types}}
      <div
        style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px 0px 20px; ">
        <p style="font-weight: 600;">{{typeName}}</p>
      </div>
      {{#each services}}
      <div style="display: flex;align-items: center; justify-content: space-between; border-bottom: 1px solid #F3F3F3; padding: 0px 10px 0px 30px">
        <p>{{serviceName}}</p>
        {{#if priceType}}
        <p>{{priceType}}</p>
        {{/if}}
        <span>{{price}}</span>
      </div>
      {{/each}}
      {{/each}}
      {{/each}}
      {{/if}}

    </div>
    {{/if}}

  </div>
</div>

</html>